/* loading files like fonts for example */

@font-face {
  font-family: "Naru Mono";
  src: url("/fonts/naru.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: "Bitwise";
  src: url("/fonts/bitwise.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: block;
}
